n8n-workflow-tesacom.json
{
  "name": "Tesacom - Sync Clientes IBIS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tesacom-clientes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3f8a2b91-c4d5-4e6a-b7c8-d9e0f1a2b3c4",
      "name": "Webhook Clientes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [16, 0],
      "webhookId": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"
    },
    {
      "parameters": {
        "dataType": "number",
        "value1": "={{ $json.body.ParentCustomerID }}",
        "rules": {
          "rules": [
            { "operation": "equal", "value2": 3, "output": 0 },
            { "operation": "equal", "value2": 4, "output": 1 },
            { "operation": "equal", "value2": 5, "output": 2 },
            { "operation": "equal", "value2": 6, "output": 3 }
          ]
        },
        "fallbackOutput": "none"
      },
      "id": "5d7e9f1a-b2c3-4d4e-a5f6-7b8c9d0e1f2a",
      "name": "Switch País",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [240, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "_cid",  "value": "ed0bca6fac254bb6a6a2901e0e4bae25" },
            { "name": "_csec", "value": "QT7OOC+yjCbOIHOfi6itJag7UhQIsq3qfSV2/9TUQhE=" }
          ]
        },
        "options": { "keepOnlySet": false }
      },
      "id": "4c6d8e0f-a1b2-4c3d-b4e5-6f7a8b9c0d1e",
      "name": "Cred AR",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [464, -360]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "_cid",  "value": "4fd1675586b646778af1e2cc0ca19f83" },
            { "name": "_csec", "value": "l82+rnPT1yaP8TA73B3HzabctTRhr3W03QPgw4YRNfl=" }
          ]
        },
        "options": { "keepOnlySet": false }
      },
      "id": "6e8f0a1b-c2d3-4e4f-c5a6-8b9c0d1e2f3a",
      "name": "Cred CL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [464, -120]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "_cid",  "value": "6f3c4cdabcf349e3a197fd77f4be05e0" },
            { "name": "_csec", "value": "VhJQkwnuhr607LiBZgUp5mJ1S7lduea9Ag0+k/Xrr5g=" }
          ]
        },
        "options": { "keepOnlySet": false }
      },
      "id": "8a0b2c3d-e4f5-4a6b-d7c8-0e1f2a3b4c5d",
      "name": "Cred PY",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [464, 120]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "_cid",  "value": "8ddf0664d99c4493b01ec5b9317719ae" },
            { "name": "_csec", "value": "S8iHbB0oogBbePAy8K417jTouIoKYbRE07zK9Kg2lh0=" }
          ]
        },
        "options": { "keepOnlySet": false }
      },
      "id": "1b3c5d6e-f7a8-4b9c-e0d1-2f3a4b5c6d7e",
      "name": "Cred PE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [464, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibistesacom.satcomhost.com/identity/connect/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type",    "value": "client_credentials" },
            { "name": "client_id",     "value": "={{ $json._cid }}" },
            { "name": "client_secret", "value": "={{ $json._csec }}" },
            { "name": "scope",         "value": "ibisApi" }
          ]
        },
        "options": {}
      },
      "id": "7c1d4e5f-a6b7-4c8d-9e0f-1a2b3c4d5e6f",
      "name": "Obtener Token IBIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [688, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ibistesacom.satcomhost.com/api/v1/CustomerDetails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Obtener Token IBIS').item.json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"CustomerID\": 0,\n  \"CustomerCode\": {{ JSON.stringify($('Webhook Clientes').item.json.body.CustomerCode ?? '') }},\n  \"ParentCustomerID\": {{ $('Webhook Clientes').item.json.body.ParentCustomerID ?? 3 }},\n  \"CustomerName\": {{ JSON.stringify($('Webhook Clientes').item.json.body.CustomerName ?? '') }},\n  \"TaxExemptionCode\": {{ JSON.stringify($('Webhook Clientes').item.json.body.TaxCode ?? '') }},\n  \"CustomerCategoryCode\": \"End User\",\n  \"Description\": {{ JSON.stringify($('Webhook Clientes').item.json.body.Description ?? '') }},\n  \"IndustryCode\": {{ JSON.stringify($('Webhook Clientes').item.json.body.Industry ?? '') }},\n  \"TaxCombinationCode\": \"EXENTO\",\n  \"CurrencyCode\": \"USD\",\n  \"CreditTermsCode\": \"Net 30\",\n  \"InvoiceDeliveryMode\": \"E-Mail\",\n  \"EmailGeneral\": {{ JSON.stringify($('Webhook Clientes').item.json.body.EmailGeneral ?? '') }},\n  \"EmailBilling\": {{ JSON.stringify($('Webhook Clientes').item.json.body.EmailGeneral ?? '') }},\n  \"EmailBillingCC\": {{ JSON.stringify(($('Webhook Clientes').item.json.body.EmailBillingCC ? $('Webhook Clientes').item.json.body.EmailBillingCC + ';' : '') + ($('Webhook Clientes').item.json.body.AccountManagerEmail ?? '')) }},\n  \"EmailAlertsAndNotifications\": {{ JSON.stringify(($('Webhook Clientes').item.json.body.EmailAlertsAndNotifications ? $('Webhook Clientes').item.json.body.EmailAlertsAndNotifications + ';' : '') + ($('Webhook Clientes').item.json.body.AccountManagerEmail ?? '')) }},\n  \"AccountManagerCode\": {{ JSON.stringify($('Webhook Clientes').item.json.body.AccountManagerCode ?? '') }},\n  \"ShowCdrsOnInvoice\": {{ $('Webhook Clientes').item.json.body.ShowCdrsOnInvoice ?? false }},\n  \"ShowZeroChargesOnInvoice\": false,\n  \"ShowPreviousBalanceOnInvoice\": false,\n  \"DeviceIdentifierOnInvoice\": \"ICCID\",\n  \"RollupInvoiceToParentCustomer\": false,\n  \"MainAddressSameAsParentMainAddress\": false,\n  \"BillingAddressSameAsMainAddress\": true,\n  \"MainAddress\": {\n    \"AddressID\": 0,\n    \"AddressLine1\": {{ JSON.stringify($('Webhook Clientes').item.json.body.Location ?? '') }},\n    \"City\": {{ JSON.stringify($('Webhook Clientes').item.json.body.City ?? '') }},\n    \"PostCode\": {{ JSON.stringify($('Webhook Clientes').item.json.body.PostalCode ?? '') }},\n    \"State\": {{ JSON.stringify($('Webhook Clientes').item.json.body.State ?? '') }},\n    \"CountryCode\": {{ JSON.stringify(({3:'ARG',4:'CHL',5:'PRY',6:'PER'})[$('Webhook Clientes').item.json.body.ParentCustomerID] ?? '') }},\n    \"AddressFormatCode\": \"Postcode City\"\n  },\n  \"BillingAddress\": {\n    \"AddressID\": 0,\n    \"AddressLine1\": {{ JSON.stringify($('Webhook Clientes').item.json.body.Location ?? '') }},\n    \"City\": {{ JSON.stringify($('Webhook Clientes').item.json.body.City ?? '') }},\n    \"PostCode\": {{ JSON.stringify($('Webhook Clientes').item.json.body.PostalCode ?? '') }},\n    \"State\": {{ JSON.stringify($('Webhook Clientes').item.json.body.State ?? '') }},\n    \"CountryCode\": {{ JSON.stringify(({3:'ARG',4:'CHL',5:'PRY',6:'PER'})[$('Webhook Clientes').item.json.body.ParentCustomerID] ?? '') }},\n    \"AddressFormatCode\": \"Postcode City\"\n  },\n  \"ContactPersons\": [\n    {\n      \"ContactPersonID\": 0,\n      \"ContactName\": {{ JSON.stringify($('Webhook Clientes').item.json.body.CustomerName ?? '') }},\n      \"Email\": {{ JSON.stringify($('Webhook Clientes').item.json.body.EmailGeneral ?? '') }},\n      \"Phone1\": {{ JSON.stringify($('Webhook Clientes').item.json.body.MainContactPhone ?? '') }},\n      \"IsMainContact\": true\n    }\n  ]\n}",
        "options": {}
      },
      "id": "9e2f5a6b-c7d8-4e9f-0a1b-2c3d4e5f6a7b",
      "name": "Crear Cliente en IBIS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [912, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'Cliente sincronizado correctamente', CustomerID: $input.item.json.CustomerID, ibis: $input.item.json }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2a4b6c8d-e0f1-4a2b-8c3d-4e5f6a7b8c9d",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1360, 0]
    }
  ],
  "connections": {
    "Webhook Clientes": {
      "main": [
        [{ "node": "Switch País", "type": "main", "index": 0 }]
      ]
    },
    "Switch País": {
      "main": [
        [{ "node": "Cred AR", "type": "main", "index": 0 }],
        [{ "node": "Cred CL", "type": "main", "index": 0 }],
        [{ "node": "Cred PY", "type": "main", "index": 0 }],
        [{ "node": "Cred PE", "type": "main", "index": 0 }]
      ]
    },
    "Cred AR": {
      "main": [
        [{ "node": "Obtener Token IBIS", "type": "main", "index": 0 }]
      ]
    },
    "Cred CL": {
      "main": [
        [{ "node": "Obtener Token IBIS", "type": "main", "index": 0 }]
      ]
    },
    "Cred PY": {
      "main": [
        [{ "node": "Obtener Token IBIS", "type": "main", "index": 0 }]
      ]
    },
    "Cred PE": {
      "main": [
        [{ "node": "Obtener Token IBIS", "type": "main", "index": 0 }]
      ]
    },
    "Obtener Token IBIS": {
      "main": [
        [{ "node": "Crear Cliente en IBIS", "type": "main", "index": 0 }]
      ]
    },
    "Crear Cliente en IBIS": {
      "main": [
        [{ "node": "Respuesta OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "Tesacom" }]
}
